@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --text-dark: white;
  --text-light: black;
  --bg-dark: rgb(40, 40, 40);
  --bg-light: rgb(230, 230, 230);
  --today: rgba(255, 209, 43, 0.918);
  --appointment-light: rgba(247, 218, 115, 0.858);
  --day-bar-light: white;
  --day-bar-dark: black;
  --add-btn-light: rgb(109, 109, 109);
  --add-btn-dark: rgb(222, 222, 222);
  --menu-bg-light: rgb(255, 255, 255);
  --menu-bg-dark: rgb(41, 41, 41);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
