@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --text-dark: white;
  --text-light: black;
  --bg-dark: black;
  --bg-light: rgb(230, 230, 230);
  --today: oklch(90.5% 0.182 98.111);
  --appointment-light: rgb(247, 223, 137);
  --day-bar-light: white;
  --day-bar-dark: rgb(109, 109, 109);
  --add-btn-light: rgb(109, 109, 109);
  --add-btn-dark: rgb(222, 222, 222);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
